

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ingredients-list {
  padding-inline-start: 0px;
}

.stepperc-input {
  display: flex;
  display: -webkit-flex;
  color: gray;
  max-width: 120px;
  margin:10px 0;
  padding: 0px;
  text-align: center;
  width: 100%;
}
.increment,
.decrement {
    height: 24px;
    width: 24px;
    border: 1px solid gray;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 24px;
    line-height: 22px;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  